@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Custom reset */

*
{
    box-sizing: border-box;
}

p { margin: 0; }

#survey fieldset
{
    border: none;
    padding: 0;
    margin: 0;
}


/* Proper styles */

body
{
    padding: 3.125em 1em;
    font-family: 'Roboto', sans-serif;
}

#survey
{
    max-width: 31.25em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#survey h2
{
    text-align: center;
}

#survey label
{
    display: block;
    text-align: right;
    margin-bottom: .8125em;
}

#survey label input
{
    margin-left: 1em;
    width: 21.875em;
    border: .125em solid #ddd;
    border-radius: .25em;
    background: white;
    padding: .3125em .5em;
}

#survey input[type="submit"]
{
    margin-top: 1em;
    margin-left: 9.375em;
    background: #4a8bee;
    border: none;
    padding: .75em 2em;
    color: white;
    border-radius: .325em;
}

#survey .messages
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .9);
    transition: opacity .3s ease-in-out;
}

#survey .messages.hidden
{
    opacity: 0;
    pointer-events: none;
}

#survey .messages .dialog
{
    position: absolute;
    left: 50%;
    top: 3.125em;
    width: 17.5em;
    margin-left: -8.75em;
    border: .0625em solid #ddd;
    border-radius: .5em;
    background: white;
    padding: 2em;
    text-align: center;
}

#survey .messages .dialog .close
{
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: none;
}

#survey .messages .dialog .close::before,
#survey .messages .dialog .close::after
{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: .125em;
    margin-left: -.0625em;
    height: 100%;
    background: #aaa;
    transform: rotate(45deg);
}

#survey .messages .dialog .close::after
{
    transform: rotate(-45deg);
}

@media (max-width: 500px)
{
    
    #survey
    {
        max-width: none;
        text-align: center;
    }

    #survey label
    {
        margin-bottom: 1.2em;
    }

    #survey label span
    {
        display: none;
    }

    #survey label input
    {
        width: 100%;
        margin-left: 0;
    }

    #survey input[type="submit"]
    {
        margin-left: 0;
        display: inline-block;
    }
}